
// IE10&11 Flexbox fix
@media all and (-ms-high-contrast:none) {
  html {
    display: flex;
    flex-direction: column;
  }

  body {
  }
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: url("../../img/main-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.app-header {
  flex: 0 0 $navbar-height;
}

.app-footer {
  flex: 0 0 $footer-height;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .main {
    flex: 1;
    min-width: 0;

    .container-fluid {
      padding: 0 $layout-offset-x;
    }
  }
}

// header
.header-fixed {
  .app-header {
    position: fixed;
    z-index: $zindex-sticky;
    width: 100%;
  }

  .app-body {
    margin-top: $navbar-height;
  }
}

// Footer
.footer-fixed {

  .app-footer {
    position: fixed;
    bottom: 0;
    z-index: $zindex-sticky;
    width: 100%;
  }

  .app-body {
    margin-bottom: $footer-height;
  }
}

// Animations
.app-header,
.app-footer,
.sidebar,
.main {
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed, width $layout-transition-speed, flex $layout-transition-speed;
}

// Mobile layout
@include media-breakpoint-down(md) {
  .app-body {
    .main {
      .container-fluid {
        padding: 0 calc(#{$layout-offset-x} - 5%);
      }
    }
  }
}

// Small layout
@include media-breakpoint-down(sm) {
  .app-body {
    .main {
      .container-fluid {
        padding: 0 calc(#{$layout-offset-x} - 10%);

        .row {
          > .col,
          > [class*="col-"] {
            padding-right: $grid-gutter-width / 6;
            padding-left: $grid-gutter-width / 6;
          }
        }
      }
    }
  }
}

// Extra Small layout
@include media-breakpoint-down(xs) {
  .app-body {
    .main {
      .container-fluid {
        padding: 0 $spacer*2;
      }
    }
  }
}


// Mobile layout
@include media-breakpoint-down(md) {

  .app-header {
    position: fixed !important;
    z-index: $zindex-sticky;
    width: 100%;
  }

  .app-header {
    .navbar-nav {
      height: inherit;

      .nav-item {
        .nav-link {
          font-size: 1rem;

          span {
            display: none;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .app-body {
    margin-top: $navbar-height;
  }
}
